body
{
    font-family: 'Roboto', sans-serif;
    background-color: #effabf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
}
h1
{
    color: #7ab08e;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
main
{
    width: calc(7*135px + 134px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;   
    position: relative; 
}
.carta-tras
{
    background-color: #A7E9AF;
    width: 135px;
    height: 190px;
    flex-shrink: 0;
    border-radius: 5%;   
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
img
{
    width: 110px;
}
@media (max-width: 1080px)
{
    main
    {
        width: auto;
    }
}
@media (max-width:420px)
{
    main
    {
        width: 10%;
    }
}
